.btn {
  padding: 1rem 2rem;
  font-family: $primary-font;
  font-size: 1.125rem;
  border-radius: 0.625rem;
  border: 2px solid transparent;
  &:focus {
    outline: none;
    border: 2px solid $secondary-dark-color;
  }
}
