$primary-font: 'montserratbold', sans-serif;
$second-font: 'loraitalic', serif;
$third-font: 'hind_madurailight', sans-serif;

.primary {
  font-family: $primary-font;
}

.secondary {
  font-family: $second-font;
}

.third {
  font-family: $third-font;
}

.normal-weight {
  font-weight: normal;
}
