$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.125rem;

$header-sizes: $h1 $h2 $h3 $h4;

@each $value in $header-sizes {
  $idx: index($header-sizes, $value);
  h#{$idx} {
    font-size: $value;
    line-height: #{$value * 1.3};
  }
}
