@import './colors.scss';
@import './font-imports.scss';
@import './fonts.scss';
@import './headers.scss';
@import './buttons.scss';
@import './container.scss';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
